<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <p><a href="/">Home</a> | <a href="/projects">Projects</a> | Contact</p>
    </div>
    <div class="title">
        <h1>Contact Me!</h1>
    </div>
    <form action="formsubmit" method="post">
        <div class="input1" style="margin-right: 1rem;">
            <label for="message">Name</label>
            <input type="text">
            <label for="message">Email</label>
            <input type="text">
        </div>
        <div class="input2" style="margin-left: 1rem;">
            <label for="message">Message</label>
            <textarea name="message" cols="30" rows="9" style="resize: none;"></textarea>
            <button type="submit" style="width: 20%; margin-top: 1rem;">Send</button>
        </div>
    </form>
</body>

</html>